<!-- Application menu -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"><i class="fa fa-area-chart"></i>&nbsp;NLB HA Node Cluster PoC</a>
		</div>
		<!-- Collapsable parameters -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<form class="navbar-form navbar-right">
				<!-- Number of total requests to be fired -->
				<div class="form-group form-group-sm">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1"><span class="hidden-sm">Requests</span><span class="visible-sm">Reqs</span></span>
						<input type="number" class="form-control input-sm" min="1" max="16384" id="numReq" [(ngModel)]="reqCount" [disabled]="isRunning()"/>
					</div>
				</div>
				<!-- Maximum number of concurrent HTTP connections to be fired -->
				<div class="form-group form-group-sm">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon2"><span class="hidden-sm">Connections</span><span class="visible-sm">Conn</span></span>
						<input type="number" class="form-control input-sm" min="1" max="32" id="numConn" [(ngModel)]="reqConn" [disabled]="isRunning()"/>
					</div>
				</div>
				<!-- Endpoint configuration -->
                <!--<div class="form-group form-group-sm">-->
					<!--<div class="input-group input-group-sm">-->
						<!--<span class="input-group-addon" id="basic-addon3"><span class="hidden-sm">API Endpoint</span><span class="visible-sm">API</span></span>-->
						<!--<select class="form-control input-sm" id="apiUrl" [(ngModel)]="selectedUrl" [disabled]="isRunning()" required>-->
							<!--<option *ngFor="let opt of urlOptions" [value]="opt[0]">{{opt[1]}}</option>-->
						<!--</select>-->
					<!--</div>-->
				<!--</div>-->
			</form>
			<ul class="nav navbar-nav navbar-right">
				<!-- Smart buttons -->
				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="isRunning()">Presets&nbsp;<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a (click)="setSmall()">Small</a></li>
						<li><a (click)="setMedium()">Medium</a></li>
						<li><a (click)="setLarge()">Large</a></li>
						<li><a (click)="setHuge()">Huge</a></li>
					</ul>
				</div>
			</ul>
		</div>
	</div>
</nav><!-- Statistics -->
<div class="row" *ngIf="!isRunning() && reqOK!==0">
	<!-- Requests statistical histogram -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-tachometer"></i>&nbsp;Request Duration Histogram</h4>
			</div>
			<table class="table table-striped table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th width="25%" class="text-center">Requests</th>
					<th width="15%" class="text-center">AngularJS<br/>
						<small>(t5-t0)</small>
					</th>
					<th width="15%" class="text-center">&lt;----&gt;<br/>
						<small>Latency</small>
					</th>
					<th width="15%" class="text-center">nginX<br/>
						<small>(t4-t1)</small>
					</th>
					<th width="15%" class="text-center">&lt;----&gt;<br/>
						<small>Latency</small>
					</th>
					<th width="15%" class="text-center">Node.js<br/>
						<small>(t3-t2)</small>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let hst of histogram">
					<td class="text-center">
						<small><strong>{{hst[0]}}% <i>(up to {{calcPosition(hst[0])}})</i></strong></small>
					</td>
					<td class="text-center">
						<small>{{hst[1] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[1]-hst[2] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[2] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[2]-hst[3] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[3] | number:'1.3-3'}} ms</small>
					</td>
				</tr>
				<tr class="info">
					<th class="text-center">
						<small><i>Throughput &#956;&#177;2&#963;</i></small>
					</th>
					<th class="text-center">
						<small>{{tpAngular | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>&nbsp;</small>
					</th>
					<th class="text-center">
						<small>{{tpNginx | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>&nbsp;</small>
					</th>
					<th class="text-center">
						<small>{{tpNode | number:'1.0-0'}} req/s</small>
					</th>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- nginX average duration donut chart -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;nginX Avg <i>&#956;&#177;2&#963;</i> (ms)
				</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="polarChartOptions" [data]="polarChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- AngularJS average duration donut chart -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;AngularJS Avg
					<i>&#956;&#177;2&#963;</i> (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="polarChartOptions2" [data]="polarChartData2"></nvd3>
			</div>
		</div>
	</div>
	<!-- Latency by Percentile Distribution lineBar chart -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;HDR Histogram w/o Coordinated Omission
				</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="lineChartOptions" [data]="lineChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- Requests duration distribution multiBar chart -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;Requests Duration (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="barChartOptions" [data]="barChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- Sequence diagram static diagram -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Sequence Diagram</h4>
			</div>
			<img class="img-responsive" src="./sequence-diagram.png">
		</div>
	</div>
	<!-- Execution architecture static diagram -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Execution Architecture</h4>
			</div>
			<img class="img-responsive" src="./node.png">
		</div>
	</div>
</div>
<!-- Balanced requests tables per node cluster -->
<div class="row" *ngIf="!isRunning() && reqOK!==0">
	<div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let nodes of results">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-server"></i>&nbsp;{{nodes[0]}}
					<small>({{nodeIdx[nodes[0]][1]}})</small>
				</h4>
			</div>
			<table class="table table-striped table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th *ngFor="let pid of nodes[1]" class="text-center">
						<i class="fa fa-sitemap"></i><br/>{{pid[0]}}<br/>
						<small>({{pid[1].length}})</small>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td *ngFor="let pid of nodes[1]" class="text-center">
						<code *ngFor="let req of pid[1]">{{req}}<br/></code>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div><!-- Reference links -->
<div class="row" *ngIf="!isRunning() && reqOK!==0">
	<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Reference Links</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<!-- HTTP/2 -->
					<div class="col-xs-12 col-sm-6">
						<blockquote>
							<dl>
								<dt>HTTP/2</dt>
								<dd>
									<footer>
										<a href="https://http2.akamai.com/demo" target="_blank">HTTP/2: the Future of the Internet | Akamai</a><br/>
										<a href="https://http2.github.io" target="_blank">HTTP/2</a><br/>
										<a href="https://http2.github.io/http2-spec/" target="_blank">Hypertext Transfer Protocol Version 2 (HTTP/2) draft-ietf-httpbis-http2-latest</a><br/>
										<a href="https://docs.google.com/presentation/d/1r7QXGYOLCh4fcUq0jDdDwKJWNqWK1o4xMtYpKZCJYjM/present?slide=id.g4ec7b01d4_5_150" target="_blank">HTTP/2 is here, let's optimize! - Velocity 2015 - Google Slides</a><br/>
										<a href="http://caniuse.com/#search=HTTP%2F2" target="_blank">Can I use... HTTP/2</a><br/>
										<a href="https://hpbn.co/http2/" target="_blank">HTTP: HTTP/2 - High Performance Browser Networking (O'Reilly)</a><br/>
										<a href="https://www.smashingmagazine.com/2016/02/getting-ready-for-http2/" target="_blank">Getting Ready For HTTP/2: A Guide For Web Designers And Developers</a><br/>
										<a href="http://qnimate.com/post-series/http2-complete-tutorial/" target="_blank">HTTP/2 Complete Tutorial</a><br/>
										<a href="http://javascriptplayground.com/blog/2016/03/http2-and-you/" target="_blank">HTTP/2 and You</a><br/>
										<a href="https://chrome.google.com/webstore/detail/http2-and-spdy-indicator/mpbpobfflnpcgagjijhmgnchggcjblin" target="_blank">HTTP/2 and SPDY indicator</a><br/>
									</footer>
								</dd>
							</dl>
						</blockquote>
					</div>
					<!-- nginX -->
					<div class="col-xs-12 col-sm-6">
						<blockquote>
							<dl>
								<dt>nginX</dt>
								<dd>
									<footer>
										<a href="https://www.nginx.com/blog/7-tips-for-faster-http2-performance/" target="_blank">7 Tips for Faster HTTP/2 Performance</a><br/>
										<a href="https://www.quora.com/How-can-nginx-handle-concurrent-requests-with-a-single-worker-process" target="_blank"></a><br/>
										<a href="" target="_blank">How can nginx handle concurrent requests with a single worker process?</a><br/>
										<a href="https://vincent.bernat.im/en/blog/2014-tcp-time-wait-state-linux.html" target="_blank"></a><br/>
										<a href="https://www.nginx.com/resources/admin-guide/load-balancer/" target="_blank">NGINX Load Balancing - HTTP and TCP Load Balancer</a><br/>
										<a href="" target="_blank"></a><br/> <br/>
										<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
										<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a>
									</footer>
								</dd>
							</dl>
						</blockquote>
					</div>
					<!-- pm2 -->
					<div class="col-xs-12 col-sm-6">
						<blockquote>
							<dl>
								<dt>Keymetrics pm2</dt>
								<dd>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a>
								</dd>
							</dl>
						</blockquote>
					</div>
					<!-- HDR Histograms / Coordinated Omission -->
					<div class="col-xs-12 col-sm-6">
						<blockquote>
							<dl>
								<dt>HDR Histograms / Coordinated Omission</dt>
								<dd>
									<a href="http://bravenewgeek.com/everything-you-know-about-latency-is-wrong/" target="_blank">Everything You Know About Latency Is Wrong</a><br/>
									<a href="http://hdrhistogram.org/" target="_blank">HdrHistogram: A High Dynamic Range Histogram</a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a>
								</dd>
							</dl>
						</blockquote>
					</div>
					<!-- AngularJS 2 -->
					<div class="col-xs-12 col-sm-6">
						<blockquote>
							<dl>
								<dt>AngularJS 2</dt>
								<dd>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a><br/> <a href="" target="_blank"></a><br/>
									<a href="" target="_blank"></a>
								</dd>
							</dl>
						</blockquote>
					</div>
					<!-- Github -->
					<div class="col-xs-12 col-sm-6">
						<blockquote>
								<dl>
									<dt>GitHub</dt>
									<dd>
										<footer>
											<a href="https://github.com/giancarlobonansea/clusterednode-client" target="_blank">NLB HA Clustered Node PoC - Client app</a><br/>
										</footer>
										<footer>
											<a href="https://github.com/giancarlobonansea/clusterednode-worker" target="_blank">NLB HA Clustered Node PoC - Worker process</a><br/>
										</footer>
										<footer>
											<a href="https://github.com/giancarlobonansea/clusterednode-hdrhist" target="_blank">NLB HA Clustered Node PoC - HDR Histogram service</a>
										</footer>
									</dd>
								</dl>
						</blockquote>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- Spinner -->
<div class="row" *ngIf="isRunning()">
	<div class="col-xs-12 text-center">
		<h1 [hidden]="calculating">Running...</h1>
		<h1 [hidden]="!calculating">Calculating statistics...</h1>
		<!--<div class="panel panel-success">-->
			<!--<div class="panel-heading">-->
				<!--<h4 class="panel-title">{{reqOK}} API requests sent</h4>-->
			<!--</div>-->
            <!--<table class="table table-condensed table-responsive">-->
                <!--<tbody>-->
                    <!--<tr [hidden]="reqOK<2">-->
                        <!--<td class="bg-primary text-right" width="{{percValue()}}%"><h2>{{percValue()}}%</h2></td>-->
                        <!--<td class="bg-info"></td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
		<!--</div>-->
	</div>
</div>
<!-- Footer fixed bar -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container-fluid text-right">
		&nbsp;<button type="submit" class="btn btn-primary navbar-btn" (click)="initSimulator()" [disabled]="isRunning()">Run&nbsp;<i class="fa fa-play"></i></button>&nbsp;
		<span class="navbar-text">Last run: {{duration | number:'1.0-0'}} ms</span>
	</div>
</nav>
