<!-- Application menu -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"><i class="fa fa-area-chart"></i>&nbsp;NLB HA Node Cluster PoC</a>
		</div>
		<!-- Collapsable parameters -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<form class="navbar-form navbar-right">
				<!-- Smart buttons -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Presets
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" (click)="setSmall()" [disabled]="isRunning()">Small</a></li>
						<li><a href="#" (click)="setMedium()" [disabled]="isRunning()">Medium</a></li>
						<li><a href="#" (click)="setLarge()" [disabled]="isRunning()">Large</a></li>
						<li><a href="#" (click)="setHuge()" [disabled]="isRunning()">Huge</a></li>
					</ul>
				</li>
				<!-- Number of total requests to be fired -->
				<div class="form-group form-group-sm">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1"><span class="hidden-sm">Requests</span><span class="visible-sm">Reqs</span></span>
						<input type="number" class="form-control input-sm" min="1" max="16384" id="numReq" [(ngModel)]="reqCount" [disabled]="isRunning()"/>
					</div>
				</div>
				<!-- Maximum number of concurrent HTTP connections to be fired -->
				<div class="form-group form-group-sm">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon2"><span class="hidden-sm">Connections</span><span class="visible-sm">Conn</span></span>
						<input type="number" class="form-control input-sm" min="1" max="32" id="numConn" [(ngModel)]="reqConn" [disabled]="isRunning()"/>
					</div>
				</div>
				<!-- Endpoint configuration -->
                <!--<div class="form-group form-group-sm">-->
					<!--<div class="input-group input-group-sm">-->
						<!--<span class="input-group-addon" id="basic-addon3"><span class="hidden-sm">API Endpoint</span><span class="visible-sm">API</span></span>-->
						<!--<select class="form-control input-sm" id="apiUrl" [(ngModel)]="selectedUrl" [disabled]="isRunning()" required>-->
							<!--<option *ngFor="let opt of urlOptions" [value]="opt[0]">{{opt[1]}}</option>-->
						<!--</select>-->
					<!--</div>-->
				<!--</div>-->
			</form>
		</div>
	</div>
</nav>
<div class="row" *ngIf="!isRunning() && reqOK!==0">
	<!-- Statistics -->
	<!-- Sequence diagram static diagram -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Sequence Diagram</h4>
			</div>
			<img class="img-responsive" src="./sequence-diagram.png">
		</div>
	</div>
	<!-- Execution architecture static diagram -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Execution Architecture</h4>
			</div>
			<img class="img-responsive" src="./node.png">
		</div>
	</div>
	<!-- Requests statistical histogram -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-tachometer"></i>&nbsp;Request Duration Histogram</h4>
			</div>
			<table class="table table-striped table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th width="30%" class="text-center">Requests</th>
					<th width="20%" class="text-center">AngularJS<br/><small>(t5-t0)</small></th>
					<th width="20%" class="text-center">nginX<br/><small>(t4-t1)</small></th>
					<th width="20%" class="text-center">Node.js<br/><small>(t3-t2)</small></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let hst of histogram">
					<td class="text-center">
						<small><strong>{{hst[0]}}% <i>(up to {{calcPosition(hst[0])}})</i></strong></small>
					</td>
					<td class="text-center">
						<small>{{hst[1] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[2] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[3] | number:'1.3-3'}} ms</small>
					</td>
				</tr>
				<tr class="info">
					<th class="text-center">
						<small><i>Throughput &#956;&#177;2&#963;</i></small>
					</th>
					<th class="text-center">
						<small>{{tpAngular | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>{{tpNginx | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>{{tpNode | number:'1.0-0'}} req/s</small>
					</th>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Charts -->
	<!-- Requests duration distribution multiBar chart -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;Requests Duration Distribution (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="barChartOptions" [data]="barChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- nginX average duration donut chart -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;nginX Avg Duration <i>&#956;&#177;2&#963;</i> (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="polarChartOptions" [data]="polarChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- AngularJS average duration donut chart -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;AngularJS Avg Duration <i>&#956;&#177;2&#963;</i> (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="polarChartOptions2" [data]="polarChartData2"></nvd3>
			</div>
		</div>
	</div>
</div>
<!-- Balanced requests tables per node cluster -->
<div class="row" *ngIf="!isRunning() && reqOK!==0">
	<div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let nodes of results">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-server"></i>&nbsp;{{nodes[0]}}
					<small>({{nodeIdx[nodes[0]][1]}})</small>
				</h4>
			</div>
			<table class="table table-striped table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th *ngFor="let pid of nodes[1]" class="text-center">
						<i class="fa fa-sitemap"></i><br/>{{pid[0]}}<br/>
						<small>({{pid[1].length}})</small>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td *ngFor="let pid of nodes[1]" class="text-center">
						<code *ngFor="let req of pid[1]">{{req}}<br/></code>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Spinner -->
<div class="row" *ngIf="isRunning()">
	<div class="col-xs-12 text-center">
		<h1 [hidden]="calculating">Running...</h1>
		<h1 [hidden]="!calculating">Calculating statistics...</h1>
		<!--<div class="panel panel-success">-->
			<!--<div class="panel-heading">-->
				<!--<h4 class="panel-title">{{reqOK}} API requests sent</h4>-->
			<!--</div>-->
            <!--<table class="table table-condensed table-responsive">-->
                <!--<tbody>-->
                    <!--<tr [hidden]="reqOK<2">-->
                        <!--<td class="bg-primary text-right" width="{{percValue()}}%"><h2>{{percValue()}}%</h2></td>-->
                        <!--<td class="bg-info"></td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
		<!--</div>-->
	</div>
</div>
<!-- Footer fixed bar -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container-fluid text-right">
		&nbsp;<button type="submit" class="btn btn-primary navbar-btn" (click)="initSimulator()" [disabled]="isRunning()">Run&nbsp;<i class="fa fa-play"></i></button>&nbsp;
		<span class="navbar-text">Last run: {{duration | number:'1.0-0'}} ms</span>
	</div>
</nav>
