<!--------------->
<!-- Application menu -->
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand"><i class="fa fa-sitemap"></i>&nbsp;NLB HA Clustered Node PoC</a>
		</div>
	</div>
</nav><!---------------><!-- Control Area -->
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<h4 class="panel-title"><i class="fa fa-cogs"></i>&nbsp;Control Area</h4>
					</div>
					<div class="col-xs-6 text-right">
						<small>
							Simulation method&nbsp;<span class="label label-info">{{getSimulationMethod()}}</span>
							<span *ngIf="isDurationMethod()">
								&nbsp;&nbsp;Nominal requests&nbsp;<span class="label label-info">{{getDurationRequests()}}</span>&nbsp;&nbsp;Nominal throughput&nbsp;<span class="label label-info">{{getDurationThroughput()}} req/s</span>
							</span>
						</small>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<!-- Show reference -->
						<button type="button" class="btn btn-info btn-sm" (click)="showRef()" [disabled]="isRunning()">
							<i class="fa fa-leanpub"></i>
						</button>
						&nbsp;
						<!-- Live DB Events -->
						<button type="button" class="btn btn-info btn-sm" (click)="showLive()" [disabled]="isRunning()">
							<i class="fa fa-database"></i>
						</button>
						&nbsp;
						<!-- Duration or Requests -->
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="isRunning()">
								<i class="fa fa-bolt"></i>&nbsp;<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a (click)="setDuration()">Stability (Duration/Rate)</a></li>
								<li><a (click)="setRequests()">Stress (Burst)</a></li>
							</ul>
						</div>
						&nbsp;
						<!-- Quick settings dropdown -->
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="isRunning()">
								<i class="fa fa-sliders"></i>&nbsp;<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a (click)="setSmall()">Small load</a></li>
								<li><a (click)="setMedium()">Medium load</a></li>
								<li><a (click)="setLarge()">Large load</a></li>
								<li><a (click)="setHuge()">Huge load</a></li>
							</ul>
						</div>
						&nbsp;
						<!-- Run Forrest... run -->
						<button type="button" class="btn btn-success btn-sm" (click)="initSimulator()" [disabled]="isRunning()">
							<i class="fa fa-play"></i></button>
					</div>
					<div class="col-xs-12 col-sm-6 text-right">
						<form class="form-inline">
							<div class="form-group form-group-sm">
						<!-- STRESS BY REQUESTS: Number of total requests to be fired -->
								<div class="input-group input-group-sm" *ngIf="isRequestMethod()">
									<span class="input-group-addon">Requests</span>
									<input type="number" class="form-control input-sm" min="1" max="16384" id="numReq" [(ngModel)]="reqCount" [disabled]="isRunning()"/>
								</div>
						<!-- STRESS BY DURATION AND DELAY: Duration in seconds to run -->
								<div class="input-group input-group-sm" *ngIf="isDurationMethod()">
									<span class="input-group-addon">Duration</span>
									<input type="number" class="form-control input-sm" min="5" max="600" id="durReq" [(ngModel)]="reqDuration" [disabled]="isRunning()"/>
									<span class="input-group-addon">s</span>
								</div>
						<!-- STRESS BY DURATION AND DELAY: Delay in miliseconds to wait between group of requests -->
								<div class="input-group input-group-sm" *ngIf="isDurationMethod()">
									<span class="input-group-addon">Interval</span>
									<input type="number" class="form-control input-sm" min="5" max="1000" id="intReq" [(ngModel)]="reqInterval" [disabled]="isRunning()"/>
									<span class="input-group-addon">ms</span>
								</div>
						<!-- ALL: Maximum number of concurrent HTTP connections to be fired -->
								<div class="input-group input-group-sm">
									<span class="input-group-addon">Connections</span>
									<input type="number" class="form-control input-sm" min="1" max="128" id="numConn" [(ngModel)]="reqConn" [disabled]="isRunning()"/>
								</div>
						<!-- Endpoint configuration -->
						<!--<div class="input-group input-group-sm">-->
						<!--<span class="input-group-addon" id="basic-addon3"><span class="hidden-sm">API Endpoint</span><span class="visible-sm">API</span></span>-->
						<!--<select class="form-control input-sm" id="apiUrl" [(ngModel)]="selectedUrl" [disabled]="isRunning()" required>-->
						<!--<option *ngFor="let opt of urlOptions" [value]="opt[0]">{{opt[1]}}</option>-->
						<!--</select>-->
						<!--</div>-->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!---------------><!-- Statistics -->
<div class="row" *ngIf="!isRunning() && reqOK!==0 && !showReference && !liveEvents">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-wrench"></i>&nbsp;Last Run parameters</h4>
			</div>
			<table class="table table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th class="text-center">Simulation Method</th>
					<th class="text-center" *ngIf="usedRequestMethod()">Requests</th>
					<th class="text-center" *ngIf="usedDurationMethod()">Duration</th>
					<th class="text-center" *ngIf="usedDurationMethod()">Interval</th>
					<th class="text-center">Connections</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="text-center"><span class="label label-primary">{{execMode}}</span></td>
					<td class="text-center" *ngIf="usedRequestMethod()">
						<span class="label label-info">{{execReq | number:'1.0-0'}}</span></td>
					<td class="text-center" *ngIf="usedDurationMethod()">
						<span class="label label-info">{{execDuration | number:'1.0-0'}} s</span></td>
					<td class="text-center" *ngIf="usedDurationMethod()">
						<span class="label label-info">{{execInterval | number:'1.0-0'}} ms</span></td>
					<td class="text-center"><span class="label label-info">{{execConn | number:'1.0-0'}}</span></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-tachometer"></i>&nbsp;Last Run execution data</h4>
			</div>
			<table class="table table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th class="text-center">Duration</th>
					<th class="text-center" *ngIf="usedDurationMethod()">Requests expected</th>
					<th class="text-center">Requests executed</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="text-center"><span class="label label-primary">{{duration | number:'1.0-0'}} ms</span>
					</td>
					<td class="text-center" *ngIf="usedDurationMethod()">
						<span class="label label-info">{{execMaxReq | number:'1.0-0'}}</span></td>
					<td class="text-center"><span class="label label-info">{{reqExecuted | number:'1.0-0'}}</span></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Requests statistical histogram -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-signal"></i>&nbsp;Request Duration Histogram</h4>
			</div>
			<table class="table table-striped table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th width="28%" class="text-center">Requests</th>
					<th width="18%" class="text-center">AngularJS<br/>
						<small>(t7-t0)</small>
					</th>
					<th width="18%" class="text-center">nginX<br/>
						<small>(t6-t1)</small>
					</th>
					<th width="18%" class="text-center">Node.js<br/>
						<small>(t5-t2)</small>
					</th>
					<th width="18%" class="text-center">redis.io<br/>
						<small>(t4-t3)</small>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let hst of histogram">
					<td class="text-center">
						<small><strong>{{hst[0]}}% <i>(up to {{calcPosition(hst[0])}})</i></strong></small>
					</td>
					<td class="text-center">
						<small>{{hst[1] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[2] | number:'1.0-0'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[3] | number:'1.3-3'}} ms</small>
					</td>
					<td class="text-center">
						<small>{{hst[4] | number:'1.3-3'}} ms</small>
					</td>
				</tr>
				<tr class="info">
					<th class="text-center">
						<small><i>Throughput &#956;&#177;2&#963;</i></small>
					</th>
					<th class="text-center">
						<small>{{tpAngular | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>{{tpNginx | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>{{tpNode | number:'1.0-0'}} req/s</small>
					</th>
					<th class="text-center">
						<small>{{tpRedis | number:'1.0-0'}} req/s</small>
					</th>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- nginX average duration donut chart -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;nginX Avg <i>&#956;&#177;2&#963;</i> (ms)
				</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="polarChartOptions" [data]="polarChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- AngularJS average duration donut chart -->
	<div class="col-xs-12 col-sm-6  col-md-6  col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;AngularJS Avg
					<i>&#956;&#177;2&#963;</i> (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="polarChartOptions2" [data]="polarChartData2"></nvd3>
			</div>
		</div>
	</div>
	<!-- Latency by Percentile Distribution lineBar chart -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;HDR Histogram w/o Coordinated Omission
				</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="lineChartOptions" [data]="lineChartData"></nvd3>
			</div>
		</div>
	</div>
	<!-- Requests duration distribution multiBar chart -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-area-chart"></i>&nbsp;Requests Duration (ms)</h4>
			</div>
			<div class="panel-body">
				<nvd3 [options]="barChartOptions" [data]="barChartData"></nvd3>
			</div>
		</div>
	</div>
</div><!--------------->
<!-- Balanced requests tables per node cluster -->
<div class="row" *ngIf="!isRunning() && reqOK!==0 && !showReference && !liveEvents">
	<div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let nodes of results">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-server"></i>&nbsp;{{nodes[0]}}
					<small>({{nodeIdx[nodes[0]][1]}})</small>
				</h4>
			</div>
			<table class="table table-striped table-condensed table-bordered table-responsive">
				<thead>
				<tr>
					<th *ngFor="let pid of nodes[1]" class="text-center">
						<i class="fa fa-sitemap"></i><br/>{{pid[0]}}<br/>
						<small>({{pid[1].length}})</small>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td *ngFor="let pid of nodes[1]" class="text-center">
						<code *ngFor="let req of pid[1]">{{req}}<br/></code>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div><!---------------><!-- Reference -->
<div class="row" *ngIf="showReference">
	<!-- Sequence diagram static diagram -->
	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Sequence Diagram</h4>
			</div>
			<img class="img-responsive" src="./sequence-diagram.png">
		</div>
	</div>
	<!-- Execution architecture static diagram -->
	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-sitemap"></i>&nbsp;Execution Architecture</h4>
			</div>
			<img class="img-responsive" src="./execution-arch.png">
		</div>
	</div>
	<!-- Reference links -->
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-globe"></i>&nbsp;Reference Links</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<!-- HTTP/2 -->
						<blockquote>
							<dl>
								<dt>{{links['HTTP2'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['HTTP2'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['HTTP2'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- QUIC -->
						<blockquote>
							<dl>
								<dt>{{links['quic'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['quic'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['quic'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- pm2 -->
						<blockquote>
							<dl>
								<dt>{{links['pm2'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['pm2'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['pm2'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- AngularJS 2 -->
						<blockquote>
							<dl>
								<dt>{{links['angular2'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['angular2'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['angular2'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- ng2-nvd3 -->
						<blockquote>
							<dl>
								<dt>{{links['ng2nvd3'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['ng2nvd3'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['ng2nvd3'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- google analytics -->
						<blockquote>
							<dl>
								<dt>{{links['ga'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['ga'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['ga'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- Generic Opensource -->
						<blockquote>
							<dl>
								<dt>{{links['open'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['open'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['open'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- OpenSSL -->
						<blockquote>
							<dl>
								<dt>{{links['openssl'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['openssl'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['openssl'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- Github -->
						<blockquote>
							<dl>
								<dt>{{links['github'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['github'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['github'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
					</div>
					<div class="col-xs-12 col-sm-6">
						<!-- nginX -->
						<blockquote>
							<dl>
								<dt>{{links['nginx'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['nginx'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['nginx'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- HDR Histograms / Coordinated Omission -->
						<blockquote>
							<dl>
								<dt>{{links['hdr'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['hdr'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['hdr'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- Redis.io -->
						<blockquote>
							<dl>
								<dt>{{links['redis'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['redis'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['redis'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- Node.js -->
						<blockquote>
							<dl>
								<dt>{{links['node'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['node'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['node'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- stunnel -->
						<blockquote>
							<dl>
								<dt>{{links['stunnel'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['stunnel'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['stunnel'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
						<!-- socket.io -->
						<blockquote>
							<dl>
								<dt>{{links['socket'].title}}</dt>
								<dd>
									<footer *ngFor="let link of links['socket'].anchor">
										<a [href]="link.href" (click)="onRefLink(links['socket'].title,link.desc)" target="_blank">{{link.desc}}</a>
									</footer>
								</dd>
							</dl>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Video Galery -->
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-youtube"></i>&nbsp;Video Gallery</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4vnLUc58NEA" allowfullscreen></iframe>
						</div>
						<small>Akamai's Stephen Ludin on Internet evolution</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MARxcGRRTk4" allowfullscreen></iframe>
						</div>
						<small>Concur shares experience using H2</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6Rs0p3mPNr0" allowfullscreen></iframe>
						</div>
						<small>How NOT to measure latency - Gil Tene at USI</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p74282nDMX8" allowfullscreen></iframe>
						</div>
						<small>Node.js at Netflix</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ElI5QtUISWM" allowfullscreen></iframe>
						</div>
						<small>Node.js at Uber</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-00ImeLt9ec" allowfullscreen></iframe>
						</div>
						<small>Node.js at PayPal</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BJPeLJhv1Ic" allowfullscreen></iframe>
						</div>
						<small>Node.js at CapitalOne</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jm75pxsb80c" allowfullscreen></iframe>
						</div>
						<small>Microservice Developer Experience</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SYNJFX0oIBU" allowfullscreen></iframe>
						</div>
						<small>Node.js for Enterprise APIs Panel Discussion</small>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D9TUU5bK0iE" allowfullscreen></iframe>
						</div>
						<small>Rebuilding the Ship as it Sails: Making Large Legacy Sites Responsive</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--------------->
<!-- Spinner -->
<div class="row" *ngIf="isRunning()">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<h4 class="panel-title">
							<!--<i class="fa fa-spin fa-spinner"></i>&nbsp;-->
							<span [hidden]="calculating">Running...</span>
							<span [hidden]="!calculating">Calculating statistics...</span>
						</h4>
					</div>
					<div class="col-xs-6 text-right">
						<h4 class="panel-title">
							<span class="label label-success">OK {{reqOK}}</span>&nbsp;
							<span class="label label-danger">ERR {{reqErrors}}</span>
						</h4>
					</div>
				</div>
			</div>
			<table class="table table-condensed">
				<tbody>
				<tr [hidden]="reqOK<2">
					<td class="bg-primary text-right" width="{{percValue()}}%"><h4>{{percValue()}}%</h4></td>
					<td class="bg-info" *ngIf="percValue()<100"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div><!---------------><!-- Database Live Events -->
<div class="row" *ngIf="liveEvents && !showReference">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-database"></i>&nbsp;Database Change - Live Events</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table-centered">
								<thead>
								<tr>
									<th colspan="32" class="text-center">Redis cluster (6 processes)</th>
								</tr>
								<tr>
									<th></th>
									<th colspan="10" class="text-center text-info">
										<i class="fa fa-database"></i>&nbsp;redis #1 (M+S)
									</th>
									<th colspan="10" class="text-center text-muted">
										<i class="fa fa-database"></i>&nbsp;redis #2 (M+S)
									</th>
									<th colspan="10" class="text-center text-primary">
										<i class="fa fa-database"></i>&nbsp;redis #3 (M+S)
									</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let evy of evMatrix">
									<td *ngFor="let evx of evy">
										<small [class]="getDatabaseStatus(evx)">
											<i class="fa fa-database" style="margin-right:1px;"></i>
										</small>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>